<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
</head>
<style>

    body {
        margin: 0;
    }

    h1 {
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    .library-image {
        background-image: url("gfx/oldLibrary.jpg");
        height: 3000px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .header {
        width: auto;
        margin: 0;
        display: inline-block;
        text-align: center;
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        font-size: 45px;
        color: white;
        /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
        font-family: Calibri;
    }

    .login {
        position: fixed;
        top: 10px;
        left: 10px;
        padding: 5px;
        height: auto;
        width: auto;
        background-color: black;
    }

    .logo {
        position: fixed;
        bottom: 2px;
        right: 10px;
        font-family: Serif;
        size: 4px;
        color: white;
    }


</style>
<body>
<div class="library-image">
    <div class="login">
        <a href="/loginPage.html" style="color: white;font-size: 20px; text-decoration: none">Return to login page</a>
    </div>
    <div class="header">
        <h1>
            <p> Goodbye see you soon</p>
            <!--        <h1 th:text="'Goodbye' + ${login} + '. See you soon!'"><p>&#128075</p></h1>-->
            <p>&#128075</p>
        </h1>
    </div>
    <div class="logo">
        <p>Project designed by Grzybson</p>
    </div>
</div>
</body>
</html>