<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lend book</title>
</head>
<style>

    h1 {
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    body {
        margin: 0;
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: linear-gradient(to right bottom, #5c4a17, #75632a, #8f7d3e, #a99852, #c3b468, #bfb667,
        #bbb966, #b7bb65, #93a34e, #708c39, #4d7526, #295f13);
    }

    .library-text {
        font-size: 25px;
        text-align: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        padding: 10px;
    }

    .returnToLibraryPage {
        position: fixed;
        top: 10px;
        left: 10px;
        border: 4px black solid;
        border-radius: 10px;
        padding: 5px;
        height: auto;
        width: auto;
        background-color: #6d7231;
    }

    .logo {
        position: fixed;
        bottom: 2px;
        right: 10px;
        font-family: Serif;
        size: 4px;
        color: black;
    }

</style>
<body>
<div class="returnToLibraryPage">
    <a href="/books-list" style="color: khaki; font-size: 20px; font-weight: bold; text-decoration: none">Return</a>
</div>

<div class="library-text">
<!--    <h1 style="font-size:35px">Hello admin </h1>-->
    <h1 th:text="${login} + 'would you like to lend' + ${title}"></h1>
    <form action="#" th:action="@{/lendBook}" th:object="${bookToLend}" method="post">

        <input type="hidden" th:field="*{isbn}"/>
        <br>
        title:
        <br>
        <input type="text" th:field="*{title}"/>
        <div style="color: red" th:if="${#fields.hasErrors('title')}">
            Incorrect data filled into title field (must be at least 3 characters long)
        </div>
        <br>
        author:
        <br>
        <input type="text" th:field="*{author}"/>
        <div style="color: red" th:if="${#fields.hasErrors('author')}">
            Incorrect data filled into author field (must not be empty field)
        </div>
        <br>
        genre:
        <br>
        <input type="text" th:field="*{genre}">
        <div style="color: red" th:if="${#fields.hasErrors('genre')}">
            Incorrect data filled into genre field (must not be empty field)
        </div>
        <br>
        year:
        <br>
        <input type="text" th:field="*{year}">
        <div style="color: red" th:if="${#fields.hasErrors('year')}">
            Incorrect data filled into year field (must not be null)
        </div>
        <br>
        publisher:
        <br>
        <input type="text" th:field="*{publisher}"/>
        <div style="color: red" th:if="${#fields.hasErrors('publisher')}">
            Incorrect data filled into publisher field (must not be empty field)
        </div>
        <br>
        lender - you
        <br>
        <input type="text" th:field="*{lenderId}"/>
        <div style="color: red" th:if="${#fields.hasErrors('lenderId')}">
            Incorrect data filled into lenderId field (must not be blank field)
        </div>
        <br>
        <input type="submit" value="lend"/>

    </form>
</div>
<div class="logo">
    <p>Project designed by Grzybson</p>
</div>
</body>
</html>
