<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<style>

    body {
        margin: 0;
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: linear-gradient(to right top, #49320a, #5c4412, #6f581b, #816c24, #93822e, #8c842f, #848631,
        #7c8834, #5e762f, #43632a, #2b5024, #153d1e);
    }

    table {
        width: auto;
        position: center;
        margin-left: auto;
        margin-right: auto;
    }

    table, th, td {
        border: black solid 2px;
        border-collapse: collapse;
        text-align: center;
        height: auto;
        padding: 4px;
    }

    th {
        font-family: Serif;
        font-weight: bold;
        font-size: 30px;
        width: auto;
    }

    td {
        font-family: Serif;
        font-weight: 500;
        font-size: 25px;
        width: auto;
    }

    h1 {
        font-weight: bold;
        font-family: Calibri;
        font-size: 40px;
        color: black;
        text-align: center;
        margin-top: 5px;
    }

    h3 {
        font-weight: bold;
        font-family: "Calibri Light";
        color: black;
        text-decoration: none;
    }

    .return {
        position: fixed;
        top: 10px;
        left: 10px;
        border: 4px black solid;
        border-radius: 10px;
        padding: 5px;
        height: auto;
        width: auto;
        background-color: darkolivegreen;
    }

    .createBook {
        position: fixed;
        top: 10px;
        right: 650px;
        border: 4px black solid;
        border-radius: 10px;
        padding: 5px;
        height: auto;
        width: auto;
        background-color: #43632a;
    }

    .search {
        position: fixed;
        top: 10px;
        right: 10px;
        border: 4px black solid;
        border-radius: 10px;
        padding: 5px;
        height: auto;
        width: auto;
        background-color: #2b5024;
        color: khaki;
    }

    .logo {
        position: fixed;
        bottom: 2px;
        right: 10px;
        font-family: Serif;
        size: 4px;
        color: black;
    }

</style>
<body>

<h1>LIBRARY - lend a book</h1>

<h3>
    <div class="return">
        <a href="/welcomeInLibrary" style="color: khaki; font-size: large; text-decoration: none"> <- Return</a>
    </div>
    <div class="createBook" sec:authorize="hasRole('ROLE_ADMIN')">
        <a href="/createBook" style="color: khaki; font-weight: bold; text-decoration: none"> + Add book</a>
    </div>
    <div class="search">
        <form action="#" th:action="@{/searchBook}" th:object="${searchBook}" method="post">
            Search book by title:
            <input type="text" name="title"/>
            <input type="submit" value="search"/>
        </form>
    </div>
</h3>

<div style="overflow-x:auto;">
    <table>
        <thead>
        <tr>
            <th>Isbn</th>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Year</th>
            <th>Publisher</th>
            <th>Lender</th>
            <th>Lend book</th>
            <th>Close lend</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')">Update book</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')">Delete book</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.genre}"></td>
            <td th:text="${book.year}"></td>
            <td th:text="${book.publisher}"></td>
            <td th:text="${book.lenderId}"></td>

            <td>
                <a th:href="'/lendBook?isbn=' + ${book.isbn}"
                   style="text-decoration: none; color: black; font-weight: bold">Lend</a>
            </td>

            <td>
                <a th:href="'/giveBackBook?isbn=' + ${book.isbn}"
                   style="text-decoration: none; color: black; font-weight: bold">Give back</a>
            </td>

            <td sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="'/updateBook?isbn=' + ${book.isbn}"
                   style="text-decoration: none; color: black; font-weight: bold">Update</a>
            </td>

            <td sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="'/deleteBook?isbn=' + ${book.isbn}"
                   style="text-decoration: none; color: red; font-weight: bold">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="logo">
    <p>Project designed by Grzybson</p>
</div>
</body>
</html>
