<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Lender/User</title>
</head>
<style>

    body {
        margin: 0;
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    }

    table {
        width: auto;
        position: center;
        margin-left: auto;
        margin-right: auto;
    }

    table, th, td {
        border: black solid 2px;
        border-collapse: collapse;
        text-align: center;
        height: auto;
        padding: 4px;
    }

    th {
        font-family: Serif;
        font-weight: bold;
        font-size: 30px;
        width: auto;
    }

    td {
        font-family: Serif;
        font-weight: 500;
        font-size: 25px;
        width: auto;
    }

    h1 {
        font-weight: bold;
        font-family: Calibri;
        font-size: 40px;
        color: black;
        text-align: center;
        margin-top: 5px;
    }

    h3 {
        font-weight: bold;
        font-family: "Calibri Light";
        color: black;
        text-decoration: none;
    }

    .returnToMainPage {
        position: fixed;
        top: 10px;
        left: 10px;
        border: 4px black solid;
        border-radius: 10px;
        padding: 5px;
        height: auto;
        width: auto;
        background-color: #004d7a;
    }

    .returnToLenderPage {
        position: fixed;
        top: 10px;
        left: 150px;
        border: 4px black solid;
        border-radius: 10px;
        padding: 5px;
        height: auto;
        width: auto;
        background-color: #004d7a;
    }

    .logo {
        position: fixed;
        bottom: 2px;
        right: 10px;
        font-family: Serif;
        size: 4px;
        color: black;
    }

</style>
<body>
<h1>Search user/lender</h1>
<h3>
    <div class="returnToMainPage">
        <a href="/welcomeInLibrary" style="color: #a8eb12; text-decoration: none"> <- Main Page</a>
    </div>
    <div class="returnToLenderPage">
        <a href="/users-list" style="color: #a8eb12; text-decoration: none"> <- Return</a>
    </div>
</h3>
<table>
    <thead>
    <tr>
        <th>Lender Id</th>
        <th>Login</th>
        <th>Name</th>
        <th>Surname</th>
        <th>City</th>
        <th>BirthYear</th>
        <th>Lend booksId</th>
        <th>Update User</th>
        <th>Delete User</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="lender: ${lender}">
        <td th:text="${lender.id}"></td>
        <td th:text="${lender.login}"></td>
        <td th:text="${lender.name}"></td>
        <td th:text="${lender.surname}"></td>
        <td th:text="${lender.city}"></td>
        <td th:text="${lender.birthYear}"></td>
        <td th:text="${lender.booksIds}"></td>
        <td>
            <a th:href="'/updateUser?userId=' + ${lender.id}"
               style="text-decoration: none; color: black; font-weight: bold">Update</a>
        </td>
        <td>
            <a th:href="'/deleteUser?userId=' + ${lender.id}"
               style="text-decoration: none; color: red; font-weight: bold">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<div class="logo">
    <p>Project designed by Grzybson</p>
</div>
</body>
</html>
