<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Lend</title>
</head>
<style>

    body {
        margin: 0;
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: linear-gradient(to right top, #9a1802, #9b2903, #9d3706, #9e420b, #9f4c11, #9d431c, #9a3b24,
        #96342b, #861c36, #6f093f, #510644, #2d0a44);
    }

    table {
        width: auto;
        position: center;
        margin-left: auto;
        margin-right: auto;
    }

    table, th, td {
        border: black solid 2px;
        border-collapse: collapse;
        text-align: center;
        height: auto;
        padding: 4px;
    }

    th {
        font-family: Serif;
        font-weight: bold;
        font-size: 30px;
        width: auto;
    }

    td {
        font-family: Serif;
        font-weight: 500;
        font-size: 25px;
        width: auto;
    }

    h1 {
        font-weight: bold;
        font-family: Calibri;
        font-size: 40px;
        color: black;
        text-align: center;
        margin-top: 5px;
    }

    h3 {
        font-weight: bold;
        font-family: "Calibri Light";
        color: black;
        text-decoration: none;
    }

    .returnToMainPage {
        position: fixed;
        top: 10px;
        left: 10px;
        border: 4px black solid;
        border-radius: 10px;
        padding: 5px;
        height: auto;
        width: auto;
        background-color: #9f4c11;
    }

    .returnToLendPage {
        position: fixed;
        top: 10px;
        left: 150px;
        border: 4px black solid;
        border-radius: 10px;
        padding: 5px;
        height: auto;
        width: auto;
        background-color: #9d3706;
    }

    .logo {
        position: fixed;
        bottom: 2px;
        right: 10px;
        font-family: Serif;
        size: 4px;
        color: black;
    }

</style>
<body>

<h1>Search lend</h1>
<h3>
    <div class="returnToMainPage">
        <a href="/welcomeInLibrary" style="color: black; text-decoration: none"> <- Main page</a>
    </div>
    <div class="returnToLendPage">
        <a href="/lends-list" style="color: black; text-decoration: none"> <- Return</a>
    </div>
</h3>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>BookId</th>
        <th>UserId</th>
        <th>Start date</th>
        <th>Return date</th>
        <th>Update lend</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="lend :${lend}">
        <td th:text="${lend.id}"></td>
        <td th:text="${lend.bookId}"></td>
        <td th:text="${lend.userId}"></td>
        <td th:text="${lend.startDate}"></td>
        <td th:text="${lend.returnDate}"></td>
        <td>
            <a th:href="'/updateLend?id=' + ${lend.id}"
               style="text-decoration: none; color: black; font-weight: bold">Update</a>
        </td>
    </tr>
    </tbody>
</table>
<div class="logo">
    <p>Project designed by Grzybson</p>
</div>
</body>
</html>
