<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<style>

    body {
        margin: 0;
    }

    .library-image {
        background-image: url("gfx/Books.jpg");
        height: 900px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: auto;
        background-color: black;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: auto;
        overflow: auto;
    }

    li {
        float: left;
    }

    li a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 4px 10px;
        font-size: 30px;
        text-decoration: none;
    }

    li a:hover {
        background-color: purple;
    }

    .header {
        width: auto;
        margin: 0;
        display: inline-block;
        text-align: center;
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        font-size: 45px;
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        font-family: Calibri;
    }

    .logo {
        position: fixed;
        bottom: 2px;
        right: 10px;
        font-family: Serif;
        size: 4px;
        color: black;
    }

</style>
<body>

<div class="library-image">
    <ul>
        <li><a class="active" href="/welcomeInLibrary">Home page</a></li>
        <li><a href="/books-list">Books</a></li>
        <li><a href="/users-list">Users/Lenders</a></li>
        <li><a href="/lends-list">Lends</a></li>
        <li><a href="/logout">Logout</a></li>
<!--        <li><a href="/confirmationLogout">Logout</a></li>-->
    </ul>
    <div class="header">
        <span th:text="'Welcome in library app ' + ${login} + '. Have a nice day!'"></span>
    </div>

    <div class="logo">
        <p>Project designed by Grzybson</p>
    </div>
</div>
</body>
</html>
